h1 {
    /* h1、p、body要素の上下左右余白（margin）を0にしてください。 */
    margin: 0px;
    color: rgb(255, 255, 255);
}

/* h1要素内のスタイルを以下のように設定します。
文字色をrgb(255, 255, 255)にします。 */
p {
    margin: 0px;
    font-size: 20px;
}

body {
    margin: 0px;
}

a {
    font-size: 20px;
}

header {
    margin-bottom: 20px;
    background-color: rgb(244, 79, 79);
    text-align: center;
}

#parent {
    background-color: rgb(255, 255, 255);
    /* displayプロパティを使い、id名parentの要素をFlexコンテナにします。 */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contents {
    background-color: rgb(255, 255, 255);
    flex-basis: 25%;
    padding: 10px 15px;
    margin: 20px 0px;
    /* 線（太さ3px、実線、色rgb(238, 204, 204)）で要素を囲います。メモ→枠を作るため */
    border: 3px solid rgb(238, 204, 204);
    text-align: center;
}

main {
    padding: 10px;
}

/* h２の前にドットをつけない！！ */
h2 {
    font-size: 25px;
    text-decoration: underline dotted 3px rgb(236, 122, 122);
}

/* h2要素の前に「●」記号を表示します。色はrgb(239, 111, 139)とします。 */
h2::before {
    content: "●";
    color: rgb(239, 111, 139);
}

.contents :nth-of-type(2)::first-letter {
    font-weight: bold;
    color: rgb(97, 206, 249);
    /* marginは上下10px、左右0 */
    margin: 10px 0px;
    /* 幅は70% */
    width: 70%;
}

footer {
    background-color: rgb(244, 79, 79);
    text-align: center;
}

/* a要素には、以下のスタイルを設定します。 */
a {
    color: rgb(255, 255, 255);
}

/* 訪問済みリンクの文字色がrgb(193, 234, 251)に変化するようにします。 */
a:visited {
    color: rgb(193, 234, 251);
}

/* マウスカーソルが乗ると文字色がrgb(245, 178, 168)に変化するようにします  */
a:hover {
    color: rgb(245, 178, 168);
}

/* レスポンシブデザイン！！！ */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 30px;
    }

    p {
        font-size: 25px;
    }

    /* ブロック要素と同じ。左から右へ */
    #parent {
        flex-direction: column;
    }
}